fastapi==0.111.1
uvicorn[standard]==0.23.2
SQLAlchemy
pydantic[email]
email-validator
python-multipart
psycopg2-binary
reportlab
requests
psycopg2-binary
passlib[argon2]
opencv-python-headless
Pillow
qrcode[pil]

